.deals-list--item-heading {
  float: left;
}

.deals-list--item-price {
  float: right;
}
.deals-list {
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border-width: .2rem;
  position: relative;
  padding: 1rem;
  margin: 1rem -15px;
}
.deals-list .btn {
  float: right;
}
.green {
  color: green;
}
.red {
  color:red;
}